<!-- Validation failure messages -->
<% if @seat.errors.any? %>
  <% @seat.errors.full_messages.each do |message| %>
    <div class="alert alert-dismissable alert-danger">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <%= message %>
    </div>
  <% end %>
<% end %>

<div class="page-header">
  <h3>Edit Seat #<%= @seat.id %></h3>
</div>

<div class="row">
  <div class="col-md-12">
    <form action="/update_seat/<%= @seat.id %>" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for official_id -->
      <div class="form-group">
        <label for="official_id" class="control-label">
          Official
        </label>

        <%= select_tag(:official_id, options_from_collection_for_select(Position.all, :id, :name, @seat.official_id), :class => "form-control") %>
      </div>

      <!-- Label and input for position_id -->
      <div class="form-group">
        <label for="position_id" class="control-label">
          Position
        </label>

        <input type="text" id="position_id" name="position_id" placeholder="Position" class="form-control" value="<%= @seat.position_id %>">
      </div>

      <button class="btn btn-warning">
        Update Seat
      </button>
      or
      <a href="/seats/<%= @seat.id %>">Cancel</a>
    </form>
  </div>
</div>
