<div class="page-header">
  <h3>Electedofficial #<%= @electedofficial.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>Name</dt>
      <dd><%= @electedofficial.name %></dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/electedofficials" class="btn btn-primary">
        Back
      </a>
      <a href="/electedofficials/<%= @electedofficial.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_electedofficial/<%= @electedofficial.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>

<!-- A Electedofficial has many seats -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Seats
      </li>

      <% @electedofficial.seats.each do |seat| %>
        <li class="list-group-item">
          <a href="/seats/<%= seat.id %>">
            <%= seat.official_id %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/seats/<%= seat.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/seats/<%= seat.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_seat/<%= seat.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>

      <li class="list-group-item">
        <form action="/create_seat" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for official_id -->
      <div class="form-group">
        <label for="official_id" class="control-label">
          Official
        </label>

        <%= select_tag(:official_id, options_from_collection_for_select(Position.all, :id, :name), :class => "form-control") %>
      </div>

      <!-- Label and input for position_id -->
      <div class="form-group">
        <label for="position_id" class="control-label">
          Position
        </label>

        <%= select_tag(:position_id, options_from_collection_for_select(Electedofficial.all, :id, :name), :class => "form-control") %>
      </div>

      <button class="btn btn-block btn-success">
        Create Seat
      </button>
    </form>
      </li>
    </ul>
  </div>
</div>

<!-- A Electedofficial has many officials -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Officials
      </li>

      <% @electedofficial.officials.each do |position| %>
        <li class="list-group-item">
          <a href="/positions/<%= position.id %>">
            <%= position.name %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/positions/<%= position.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/positions/<%= position.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_position/<%= position.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
</div>
